.cardShowContainer {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .flipBox {
    position: relative;

    .cardFrontFlip {
      transform: rotateY(180deg);
      backface-visibility: hidden;
      transition: 1s;
    }

    .cardFront {
      min-height: 600px;
      width: 400px;
      box-sizing: border-box;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      text-align: center;
      transition: 1s;
      background: url('https://api.iconify.design/emojione-v1/white-question-mark.svg?color=red') no-repeat center center / contain cadetblue;


      .titleQuestion {
        display: block;
        min-height: 50%;
        width: 100%;
        background-color: #bbffbb;

      }

      .ratingGradeWrap {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .ratingButContainer {
          display: flex;
          justify-content: space-around;
        }

        .cardRating {

        }

        .cardGrade {
        }
      }


      .butContainer {
        display: flex;
        justify-content: space-around;
      }
    }

    .cardBack {
      position: absolute;
      display: flex;
      top: 0;
      background: url('https://api.iconify.design/emojione-v1/exclamation-mark.svg?color=red') no-repeat center center / contain #a4e5f3;
      min-height: 600px;
      width: 400px;
      box-sizing: border-box;
      border-radius: 20px;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      transition: 1s;
      text-align: center;
      backface-visibility: hidden;
    }

    .cardBackFlip {
      transition: 1s;
      transform: rotateY(180deg);

    }
  }

}