.dropdown {
    position: relative;
    transition: 1s;
    display: inline-block;
    z-index: 12;

}

.DropButton {
    display: none;
    position: relative;
    cursor: pointer;
    line-height: 1;
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    transition: 1s;
    height: 50px;
    z-index: 1;
    align-items: center;
    justify-content: start;
    border-radius: 5px;
}

.DropButton::before {
    content: "";
    position: absolute;
    transform: translate(-50% -50%);
    top: 15px;
    width: 30px;
    border: 0.5px solid
}

.DropButton::after {
    content: "";
    position: absolute;
    transform: translate(-50% -50%);
    bottom: 15px;
    width: 30px;
    border: 0.5px solid
}

.middleLine {
    width: 30px;
    border: 0.5px solid
}

.DropdownContent {
    display: inline-flex;
    position: absolute;
    z-index: -1;
    /*left: -1100px;*/
    background-color: #000000;
    min-width: max-content;
    min-height: 50px;
    /*border-radius: 0px 30px 30px 0px;*/
    transition: 1s;
}

.Link {
    display: block;
    color: pink;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
}

.Link:hover {
    /*border-radius: 30px;*/
}

.dropdown:hover .DropdownContent {
    left: 62px;
    transition: 0.5s;
}


.dropdown {
    position: relative;
    transition: 1s;
    display: inline-block;
    z-index: 12;

    &:hover {
        .DropdownContent {
            left: 62px;
            transition: 0.5s;
        }
    }
}
.mainNav{
    display: flex;
    background-color: #a4e5f3;
    border: 2px solid blue;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    box-sizing: border-box;
    .mainNavLink{
        display: block;
        color: black;
        font-weight: bold;
        padding: 12px 16px;
        text-decoration: none;
        transition: 1s;
        &:hover{
            color: red;
            transition: 0.5s;
        }
        &:active{
           opacity: 50%;
            transition: 0s;
        }
    }
}
@media screen and (max-width: 820px) {
    .DropButton {
        display: flex;
    }
}